*{
  font-family: poppins;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}
nav{
  height: auto;
}
nav img{
  width: 100vw;
}
.home-link{
  visibility: hidden;
  width: 100px;
  height: 100px;
  position:absolute;
  top: 100px;
  right: 100px;
  background-color: aliceblue;
  
}
.hero-element img{
  margin-top: 16vh;
}

.hero-element img,
.aboutme-image,
.contact-heading,
.footer-image{
  width: 100vw;
}
.projects{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yt-music,
.linkedin{
  width: 80vw;
}
.yt-music-container,
.linkedin-container{
  margin-bottom: 16px;
  transition: 2s;
}
.yt-music-container:hover{
  cursor: pointer;
  .yt-music{
    visibility: hidden;
  }
  background-image: url("images/hover-yt.png");
  background-size:contain;
}

.linkedin-container:hover{
  cursor: pointer;
  .linkedin{
    visibility: hidden;
  }
  background-image: url("images/hover-linkedin.png");
  background-size:contain;
}
.ui-design-image{
  width: 100vw;
}

.ui-design-showcase{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phonepe-image,
.digilocker-image{
  width: 40vw;
  margin: 8px;
}
.contact-logos{
  display: flex;
  justify-content: left;
  padding-left: 10vw;
}
.contact-logos img{
  width: 5vw;
  margin: 16px;

}








@media only screen and (max-width: 600px) {
 nav{
  visibility: hidden;
 }
 .nav2{
  visibility: hidden;
 }
 .yt-music,
.linkedin{
  width: 100vw;
}
.yt-music-container,
.linkedin-container{
  margin-bottom: 8px;
  transition: 2s;
}
.phonepe-image,
.digilocker-image{
  width: 80vw;
  margin: 8px;
}
.ui-design-showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-logos{
  display: flex;
  justify-content: left;
  padding-left: 10vw;
}
.contact-logos img{
  width: 10vw;
  margin: 16px;

}
.aboutme{
  height: 50vh;
  .aboutme-image{
    visibility: hidden;
  }
  background-image: url("images/Frame-504.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-element{
  height: 50vh;
  img{
    visibility: hidden;
  }
  background-image: url("images/Frame-499.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
}
.nav-elements{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.10);
  color: white;
  width: 80vw;
  align-items: center;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  list-style: none;
  padding-left: 10vw;
  padding-right: 10vw;
}
.nav-elements span{
  
  padding-left:10px ;
  padding-right:10px;
  font-size: 2vw;
  background-color: transparent;
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  transition: 300ms;
}
.nav-elements span:hover{
  border-bottom: 8px solid white;
}
.nav-elements a{

text-decoration: none;
color: inherit;
background-color: transparent;
}
.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

 
